html,body{
  background-color: black;
  font-family: "Oswald";
}
h1{
  color:white;
}
#calcOutput{
  background-color:white;
  width:250px;
  height:75px;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 20px;
}
#calcInput{
  background-color:#ff9800;
  width:250px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  margin-right: auto;
  margin-left: auto;
}
#steps{
  padding-left: 50px;
  font-size: 2em;
}
.bigButton{
  width:65px;
}
a{
  margin: 5px;

}
